@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes circularReveal {
  0% {
    clip-path: circle(0% at 95% 5%);
  }
  100% {
    clip-path: circle(150% at 95% 5%);
  }
}

@keyframes circularHide {
  0% {
    clip-path: circle(150% at 95% 5%);
  }
  100% {
    clip-path: circle(0% at 95% 5%);
  }
}

@keyframes fadeInFromCenter {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-circular-reveal {
  animation: circularReveal 0.5s ease-out forwards;
  display: block;
}

.animate-circular-hide {
  animation: circularHide 0.5s ease-out forwards;
  opacity: 0;
}

.z-100 {
  z-index: 100;
}

.relative-container {
  position: relative;
  width: 100%;
  padding-top: 177.78%; /* This is for 9:16 (16/9 * 100) */
  background-color: black; /* For a clean black backdrop */
}

.video-wrapper {
  position: absolute;
  top: 38%; /* Default for 2xl screens */
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; /* Maintain original aspect ratio */
  height: auto; /* Maintain original aspect ratio */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
  max-height: 100%; /* Ensure it doesn't exceed the container's height */
  background-color: black; /* To ensure the black background */
}

/* For smaller screens */
@media (max-width: 1536px) {
  /* xl screens */
  .video-wrapper {
    top: 40%;
  }
}

@media (max-width: 1280px) {
  /* lg screens */
  .video-wrapper {
    top: 31%;
    width: 56%;
    height: 80%;
  }
}

@media (max-width: 1024px) {
  /* md screens */
  .video-wrapper {
    top: 45%;
  }
}

@media (max-width: 768px) {
  /* sm screens */
  .video-wrapper {
    top: 48%;
  }
}

@media (max-width: 640px) {
  /* xs screens */
  .video-wrapper {
    top: 50%;
  }
}
